# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
/TP Cpp 2012/build/
/TP Cpp 2012/dist/
TP Cpp 2012/nbproject/private/private.xml

TP Cpp 2012/nbproject/